body {
    font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, sans-serifs;
}

li {
    list-style-type: none;
}

a:link {
    color: white;
}
a:visited {
    color: white;
}
a:hover {
    color: aqua;
}
